@using SensiveBlogProject.EntityLayer.Concrete
@model List<Comment>


<div class="comments-area">
    <h4>05 Comments</h4>
     @foreach (var item in Model)
    {
    <div class="comment-list">
        <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
                <div class="thumb">
                    <img src="@item.AppUser.ImageUrl" style="max-width:60px">
                </div>
                <div class="desc">
                    <h5><a href="#">@item.AppUser.Name @item.AppUser.Surname</a></h5>
                        <p class="date">@item.CreatedDate.ToString("dd MMMM yyyy")</p>
                    <p class="comment">
                            @item.Detail
                    </p>
                </div>
            </div>
        </div>
    </div>
    }
</div>