@using SensiveBlogProject.EntityLayer.Concrete
@model List<Comment>

<div class="comments-area">
    <h4>@ViewBag.comment Yorum</h4>
    <div class="comment-list">
        @foreach (var item in Model)
        {
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                    <div class="thumb">
                        <img src="@item.AppUser.ImageUrl" style="width:60px;height:60px;" alt="">
                    </div>
                    <div class="desc">
                        <h5><a href="#">@item.AppUser.Name @item.AppUser.Surname</a></h5>
                        <p class="date">@item.CreatedDate </p>
                        <p class="comment">
                            @item.Detail
                        </p>
                    </div>
                </div>

            </div>
            <br />

        }
        
    </div>

</div>