<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sensive Blog</title>

    <!-- Favicon -->
    <link rel="icon" href="~/pluto-1.0.0/images/logo/logo_icon.png" type="image/png" />

    <!-- JS Files -->
    <script src="@Url.Content("~/sensive-master/vendors/jquery/jquery-3.6.0.min.js")"></script>
    <script src="@Url.Content("~/sensive-master/vendors/owl-carousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/sensive-master/vendors/bootstrap/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/sensive-master/js/jquery.ajaxchimp.min.js")"></script>
    <script src="@Url.Content("~/sensive-master/js/mail-script.js")"></script>
    <script src="@Url.Content("~/sensive-master/js/main.js")"></script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="@Url.Content("~/sensive-master/vendors/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/sensive-master/vendors/fontawesome/css/all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/sensive-master/vendors/themify-icons/themify-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/sensive-master/vendors/linericon/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/sensive-master/vendors/owl-carousel/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/sensive-master/vendors/owl-carousel/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/sensive-master/css/style.css")">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
