@using SensiveBlogProject.EntityLayer.Concrete
@model List<Article>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlıklar</th>
            <th>Kategori </th>
            <th>Yazar </th>
            <th>Tarih </th>
            <th>Detaylar </th>
            <th>Sil</th>
            <th>Güncelle </th>
        </tr>
        @foreach (var item in Model)
        {


            <tr>
                <td>@item.ArticleId</td>
                <td>@item.Title</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.AppUser.Name @item.AppUser.Surname</td>
                <td>@item.CreatedDate.ToString("d/mm/yyyy")</td>
                <td><a href="/Article/ArticleDetail/@item.ArticleId" class="btn btn-warning">Detaylar</a></td>
                <td><a href="/Article/DeleteArticle/@item.ArticleId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Article/UpdateArticle/@item.ArticleId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <td><a href="/Article/CreateArticle" class="btn btn-info">Yeni Makale Girişi</a></td>

</div>