@using SensiveBlogProject.EntityLayer.Concrete
@model Article


@if (Model != null)
{
    <div class="main_blog_details">
        <img class="img-fluid" src="@Model.CoverImageUrl" alt="">
        <a href="#"><h4>@Model.Title</h4></a>
        <div class="user_details">

            <div class="float-right mt-sm-0 mt-3">
                <div class="media">
                    <div class="media-body">
                        <h5>@Model.AppUser.Name @Model.AppUser.Surname</h5>
                        <p>@Model.CreatedDate.ToString("dd/MMM/yyyy")</p>
                    </div>
                    <div class="d-flex">
                        <img width="42" height="42" src="@Model.AppUser.ImageUrl" alt="">
                    </div>
                </div>
            </div>
        </div>
        <p>@Model.Description</p>

    </div>
}