@model Article
@{
	ViewData["Title"] = "ArticleDetail";
	Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<!--================ Start Blog Post Area =================-->
<section class="blog-post-area section-margin">
	<div class="container">
		<div class="row">

			<div class="col-lg-8">
				<div class="main_blog_details">
					<img class="img-fluid" src="@Model.CoverImageUrl" style="width:750px;height:400px" alt="">
					<a href="#"><h4>@Model.Title</h4></a>
					<div class="user_details">

						<!--Tag Cloud-->
						<div class="float-left">
							@if (ViewBag.ArticleTags != null && ViewBag.ArticleTags.Count > 0)
							{
								foreach (var tag in ViewBag.ArticleTags)
								{
									<a href="#">@tag</a>
								}
							}
							else
							{
								<span>Etiket bulunamadı.</span>
							}
						</div>

						<!--Author-->
						<div class="float-right mt-sm-0 mt-3">
							<div class="media">
								<div class="media-body">
									<h5>@ViewBag.AuthorName</h5>
									<p>@Model.CreatedDate.ToString("MMM, dd")</p>
								</div>
								<div class="d-flex">
									<img width="42" height="42" src="@ViewBag.AuthorImage" alt="">
								</div>
							</div>
						</div>
					</div>

					<!--Content-->
					<p>@Model.Description</p>

					<div class="news_d_footer flex-column flex-sm-row">
						<a href="#">
							<span class="align-middle mr-2"><i class="ti-heart"></i></span>
							@if (Model.Comments.Any())
							{
								var firstUser = Model.Comments.First().AppUser;
								var remainingCount = Model.Comments.Count() - 1;

								if (remainingCount == 0)
								{
									@($"{firstUser.Name} {firstUser.Surname} beğendi.")
								}
								else
								{
									@($"{firstUser.Name} {firstUser.Surname} ve {remainingCount} kişi beğendi.")
								}
							}
							else
							{
								@("Hiç kimse beğenmedi.")
							}
						</a>
						<a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#">
							<span class="align-middle mr-2"><i class="ti-themify-favicon"></i></span>
							@if (Model.Comments != null && Model.Comments.Count() > 0)
							{
								<span>@Model.Comments.Count()</span>

							}
							else
							{
								<span>0</span>
							} Yorum
						</a>

						<div class="news_socail ml-sm-auto mt-sm-0 mt-2">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-dribbble"></i></a>
							<a href="#"><i class="fab fa-behance"></i></a>
						</div>
					</div>

				</div>

				<!--Pagination-->
				<!-- Navigation Area -->
				<div class="navigation-area">
					<div class="row">
						<!-- Önceki Blog -->
						@if (ViewBag.PreviousArticle != null)
						{
							<div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
								<div class="thumb">
									<a href="@Url.Action("ArticleDetail", "DefaultArticle", new { id = ViewBag.PreviousArticle.ArticleId })">
										<img class="img-fluid" style="width:60px;height:60px;" src="@ViewBag.PreviousArticle.CoverImageUrl" alt="">
									</a>
								</div>
								<div class="arrow">
									<a href="@Url.Action("ArticleDetail", "DefaultArticle", new { id = ViewBag.PreviousArticle.ArticleId })">
										<span class="lnr text-white lnr-arrow-left"></span>
									</a>
								</div>
								<div class="details">
									<p>Önceki Blog</p>
									<a href="@Url.Action("ArticleDetail", "DefaultArticle", new { id = ViewBag.PreviousArticle.ArticleId })">
										<h4>@ViewBag.PreviousArticle.Title</h4>
									</a>
								</div>
							</div>
						}

						<!-- Sonraki Blog -->
						@if (ViewBag.NextArticle != null)
						{
							<div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
								<div class="details">
									<p>Sonraki Blog</p>
									<a href="@Url.Action("ArticleDetail", "DefaultArticle", new { id = ViewBag.NextArticle.ArticleId })">
										<h4>@ViewBag.NextArticle.Title</h4>
									</a>
								</div>
								<div class="arrow">
									<a href="@Url.Action("ArticleDetail", "DefaultArticle", new { id = ViewBag.NextArticle.ArticleId })">
										<span class="lnr text-white lnr-arrow-right"></span>
									</a>
								</div>
								<div class="thumb">
									<a href="@Url.Action("ArticleDetail", "DefaultArticle", new { id = ViewBag.NextArticle.ArticleId })">
										<img class="img-fluid" style="width:60px;height:60px;" src="@ViewBag.NextArticle.CoverImageUrl" alt="">
									</a>
								</div>
							</div>
						}
					</div>
				</div>

				<!-- Author Details Section -->
				<div class="author-details mb-5" style="margin-top:10px;">
					<div class="media">
						@if (ViewBag.AuthorName != null)
						{
							<div class="d-flex">
								<img src="@ViewBag.AuthorImage" alt="Author Image" class="rounded-circle" style="width: 80px; height: 80px;">
							</div>
							<div class="media-body ml-3">
								<h4 class="mb-2">@ViewBag.AuthorName</h4>
								<p>@ViewBag.AuthorDetail</p>
							</div>
						}
					</div>
				</div>

				<!--Comment List-->
				<div class="comments-area">
					<h4>Yorumlar</h4>

					@foreach (var item in Model.Comments)
					{
						<div class="comment-list">
							<div class="single-comment justify-content-between d-flex">
								<div class="user justify-content-between d-flex">
									<div class="thumb">
										<img src="@item.AppUser.ImageUrl" style="width:60px;height:60px" alt="">
									</div>
									<div class="desc">
										<h5><a href="#">@item.AppUser.Name @item.AppUser.Surname</a></h5>
										<p class="date">@item.CreatedDate.ToString("d MMMM yyyy", new System.Globalization.CultureInfo("tr-TR"))</p>
										<p class="comment">
											@item.Detail
										</p>
									</div>
								</div>
							</div>
						</div>
					}
				</div>


				<!--Add Comment-->
				@await Html.PartialAsync("~/Views/DefaultArticle/AddComment.cshtml", new Comment { ArticleId = ViewBag.i })
			</div>


			<!-- Start Blog Post Sidebar -->
			<div class="col-lg-4 sidebar-widgets">

				<div class="widget-wrap">

					@await Component.InvokeAsync("_DefaultNewsletterComponentPartial")

					@await Component.InvokeAsync("_DefaultSideCategoryListComponentPartial")

					@await Component.InvokeAsync("_DefaultSidePopularPostComponentPartial")

					@await Component.InvokeAsync("_DefaultSideTagCloudComponentPartial")

				</div>
			</div>
		</div>
		<!-- End Blog Post Siddebar -->
	</div>
</section>
<!--================ End Blog Post Area =================-->
