@using SensiveBlogProject.EntityLayer.Concrete
@model List<Article>
<section class="blog-post-area section-margin mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model)
                {
                    

                <div class="single-recent-blog-post">
                    <div class="thumb">
                            <img class="img-fluid" href="/Article/ArticleDetail/@item.ArticleId" src="@item.CoverImageUrl" alt="" style="width:724px;height:388px;">
                        <ul class="thumb-info">
                            <li><a href="#"><i class="ti-user"></i>Admin</a></li>
                            <li><a href="#"><i class="ti-notepad"></i>@item.CreatedDate.ToString("dd//MMM/yyyy")</a></li>
                            <li><a href="#"><i class="ti-themify-favicon"></i>2 Comments</a></li>
                        </ul>
                    </div>
                    <div class="details mt-20">
                        <a href="blog-single.html">
                            <h3>
                                @item.Title
                            </h3>
                        </a>
                        <p class="tag-list-inline">Tag: <a href="#">travel</a>, <a href="#">life style</a>, <a href="#">technology</a>, <a href="#">fashion</a></p>
                        <p>@item.Description.Substring(0,350)...</p>
                        <a class="button" href="/Article/ArticleDetail/@item.ArticleId">Daha Fazla Oku <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                }


                <div class="row">
                    <div class="col-lg-12">
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a href="?page=@(ViewBag.CurrentPage - 1)" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">
                                                <i class="ti-angle-left"></i>
                                            </span>
                                        </a>
                                    </li>
                                }
                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                        <a href="?page=@i" class="page-link">@i</a>
                                    </li>
                                }
                                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                {
                                    <li class="page-item">
                                        <a href="?page=@(ViewBag.CurrentPage + 1)" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">
                                                <i class="ti-angle-right"></i>
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
            

            <!-- Start Blog Post Siddebar -->
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    
                     @await Component.InvokeAsync("_DefaultNewsLetterComponentPartial")
                    @await Component.InvokeAsync("_DefaultCategoryComponentPartial")
                    @await Component.InvokeAsync("_DefaultTagCloudComponentPartial")
                </div>
            </div>
        </div>
        <!-- End Blog Post Siddebar -->
    </div>
</section>